/* Designed By AMAN KUMAR */

html,
body {
  height: 100%;
  color: #3C3A3B;
  background-color:  #F8F7F6;
}

/* Header-Style */
header {
    margin-bottom: 5%;
}

/* Navbar-Style */
.main-nav {
    background-color: #1B1F25;
    opacity: 0.9;
}

.site-title {
    margin-left: 6%;
    color: #F8F7F6;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.site-tile:hover {
  color: #F8F7F6;
}

.h1 {
  font-weight: bold;
}

.main-links {
    margin-right: 5.4%;
}

.active {
    background-color: #7B7C7C !important;
}

.menu {
    color: #F8F7F6;
}

.menu:hover {
    color: #8E8E85;
}
/* Navbar-Style-Ends */

/* Container-Banner-Style */
.main-content {
    padding: 90px 0 140px 0;
    margin-top: 100px;
}

.banner {
    font-size: 110%;
}
/* Container-Banner-Style-Ends */

/* Footer-Style */
.main-footer {
    color: #A39C9B;
    background-color: #1B1F25;
}

.address {
    font-style: italic;
    padding-top: 1%;
}

.foot-menu {
    color: #A39C9B;
}

.foot-menu:hover {
    color: #8E8E85;
}
/* Footer-Style-Ends */

/* Table-style */
.th-head {
    background-color: #8E8E85;
    color: #F8F7F6;
}

.td-menu {
    color: #3C3A3B;
}

.td-menu:hover {
    color: #8E8E85;
    text-decoration: none;
}

.notsupported {
    color: #fa0c0c;
}

.main-content h2 {
    padding-left: 2%;
}
/* Table-Style-Ends */

/* Media Query */
@media (min-width: 320px) and (max-width: 480px) {
    .h1 {
        margin-left: 0;
    }

    .heading {
        font-size: 300%;
    }

    .navbar-collapse {
        padding: 4% 0 4% 9%;
    }

    .banner {
        font-size: 110%;
        padding: 0 7% 0 7%;
    }
    
    .main-content h2 {
        padding-left: 4%;
    }
}

@media (max-width: 575px) {
    .h1 {
        margin-left: 0;
    }
}
